.page-menu {
  display: flex;
  width: 300px;
  padding: 0;
  justify-content: space-between;
  list-style: none; }

.table#product {
  text-align: center; }
  .table#product .name {
    width: 17%; }
  .table#product .thick {
    width: 6%; }
  .table#product .size {
    width: 5%; }
