.page-menu {
    display: flex;
    width: 300px;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.table#product {
    text-align: center;

    .product-name {
        width: 17%;
    }

    .thick {
        width: 6%;
    }

    .size {
        width: 4%;
    }

    .yahoo-number {
        width: 13%;
    }

    .fukuroin-number {
        width: 12%;
    }

    .category-name {
        width: 15%;
    }

    .editor {
        width: 21%;
    }
}
